/*HOST GROTESK*/
@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-Light.woff2") format("woff2"),
    url("fonts/HostGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-ExtraBoldItalic.woff2") format("woff2"),
    url("fonts/HostGrotesk-ExtraBoldItalic.woff") format("woff");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-MediumItalic.woff2") format("woff2"),
    url("fonts/HostGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-Bold.woff2") format("woff2"),
    url("fonts/HostGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-BoldItalic.woff2") format("woff2"),
    url("fonts/HostGrotesk-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-ExtraBold.woff2") format("woff2"),
    url("fonts/HostGrotesk-ExtraBold.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-Regular.woff2") format("woff2"),
    url("fonts/HostGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-Light.woff2") format("woff2"),
    url("fonts/HostGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-Medium.woff2") format("woff2"),
    url("fonts/HostGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-SemiBoldItalic.woff2") format("woff2"),
    url("fonts/HostGrotesk-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-LightItalic.woff2") format("woff2"),
    url("fonts/HostGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-SemiBold.woff2") format("woff2"),
    url("fonts/HostGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-LightItalic.woff2") format("woff2"),
    url("fonts/HostGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-Italic.woff2") format("woff2"),
    url("fonts/HostGrotesk-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("fonts/HostGrotesk-Light.woff2") format("woff2"),
    url("fonts/HostGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*other fonts*/

@font-face {
  font-family: "Maoken Assorted Sans"; /*a name to be used later*/
  src: url("fonts/MaokenAssortedSans.otf"); /*URL to font*/
}

@font-face {
  font-family: "BlackOakStd"; /*a name to be used later*/
  src: url("fonts/BlackoakStd-extended.ttf") format('truetype');
  src: url("fonts/BlackoakStd-extended.woff") format('woff');
}

@font-face {
  font-family: "BigNoodleTitling";
  src: url("fonts/big_noodle_titling.ttf");
}

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue-Regular.woff2");
}

@font-face {
  font-family: "GravePresse";
  src: url("fonts/GravePresse-ExtraBold.woff2");
}

/*font stress test :ע־ב־ר ڄ ە اٖى ي ڵ شـش լիւնՇփիւր ā ā̊ ą ą̇ ə ə̄ e ē o ō å ą i ī u ū        */